services:

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      CHROMA_HOST: chroma       # interne
      CHROMA_PORT: 8000         # interne
    depends_on:
      - chroma
    # volumes:
    #   - ./backend/prompts:/prompts
    networks:
      - app-network
    env_file:
       - ./backend/.env

  chroma:
    image: chromadb/chroma:latest
    container_name: chroma
    restart: always
    ports:
      - "8001:8000"             # externe:interne
    volumes:
      - chroma-data:/chroma
    networks:
      - app-network

networks:
  app-network:

volumes:
  chroma-data:
